<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta charset="UTF-8" />
    <title>Deneme</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
<title>Insert title here</title>

</head>
<body>

    <div class="container">

        <h1>Persons</h1>

          <p>
            <a href="/notesEdit" th:href="@{/personEdit}">Create</a>
        </p>
      

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="person :${personList}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.surname}"></td>
                    <td th:text="${person.age}"></td>
                    <td>
                    <a  th:href="@{/personEdit/__${person.id}__}">Edit</a>
                    <a  th:href="@{/personDelete/__${person.id}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>